process {
	beforeScript = 'module load singularity'
	containerOptions = '-B /data/MSc/2019/pmurchan/hi_c'
	executor='slurm'
	queue='MSC'
	clusterOptions = '-n 4 -N 1'
}

singularity.enabled = true
singularity.autoMounts = true

params {
	reads = "/data/MSc/2019/cbreen/hi_c/reads/*{1,2}.fastq"
	genome = "/data/MSc/2019/cbreen/hi_c/reference/GRCh38.primary_assembly.genome.fa"
	outdir = "/data/MSc/2019/cbreen/hi_c"
	restriction_site = "hindiii"
	bwt_index = "/data/MSc/2019/cbreen/hi_c/bwt_index/genome.index"
	ligation_site = "AAGCTAGCTT"
	bin_size = '1000000,500000'
	rm_singleton = true
	rm_multi = true
	min_mapq = 10
}
